Source: zbridge
Section: games
Priority: optional
Maintainer: Anik Mitter <admin@zbridge.club>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://zbridge.club
Vcs-Git: https://github.com/amitter84/zbridge-flatpak-source.git
Vcs-Browser: https://github.com/amitter84/zbridge-flatpak-source

Package: zbridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Play contract bridge online
 Contract bridge is a trick-taking card game for four players, divided into
 two partnerships sitting opposite each other (North-South vs. East-West).
 .
 zBridge is an online bridge club where you can learn and play contract bridge.
 Play with Jethro, a competitive bridge bot for 2/1 game forcing, try interactive
 tutorials, join multiplayer games in social and rated rooms, or analyse deals
 in the analysis room with AI hints.
